<!-- <h2>{{ hero.name | uppercase }} Details</h2> -->
<!--to make hero.name uppercase-->

<!-- <div><span>id: </span>{{ hero.id }}</div>
<div><span>name: </span>{{ hero.name }}</div> -->

<div>
  <!-- <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name" /> -->
  <!--any change in the input will affect hero.name (in ts)-->
  <!--ngModel two way binding syntax-->

  <h2>my heroes</h2>
  <ul class="heroes">
    <li
      *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero"
    >
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </li>
  </ul>
  <!--Bind the HeroesComponent.selectedHero to the element's hero property -->
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>
